@media screen and (min-width:850px) {
    .container {
        width: 50.000rem;
        margin: 0 auto;
    }

    header {
        position: fixed;
        z-index: 1;
        width: 100%;
    }

    .container_first {
        height: 100vh;
        background: url('../img/header_taxi.jpg') no-repeat center center fixed;
        background-size: cover;
    }

    .features_item {
        display: inline-block;
        width: 16.6%;
        vertical-align: top;
    }

    .features_items {
        margin: 5vw auto 0;
        text-align: center;
        max-width: 62rem;
    }

    .features_item.first:hover .features_item_img {
        background: url('../img/features_item1_hover.png') no-repeat center center;
    }


    .features_item.second:hover .features_item_img {
        background: url('../img/features_item2_hover.png') no-repeat center center;
    }

    .features_item.third:hover .features_item_img {
        background: url('../img/features_item3_hover.png') no-repeat center center;
    }

    .features_item.fourth:hover .features_item_img {
        background: url('../img/features_item4_hover.png') no-repeat center center;
    }

    .features_item.fifth:hover .features_item_img {
        background: url('../img/features_item5_hover.png') no-repeat center center;
    }

    .features_item.sixth:hover .features_item_img {
        background: url('../img/features_item6_hover.png') no-repeat center center;
    }

    .container_head_of_header {
        position: relative;
        width: 93%;
        max-width: 75rem;
        margin: 0 auto;
    }

    .taxi_num {
        position: absolute;
        left: 50%;
        margin-left: -9.938rem;
    }

    .social {
        position: absolute;
        top: .5rem;
        right: 0;
    }

    .social li a {
        border: 3px solid #000;
    }

    .social i {
        color: #000;
    }

    .social li:hover i {
        color: #fff;
    }

    .social li:hover a {
        border-color: #fff;
    }

    .features h1 {
        font-size: 4vw;
        margin-bottom: 4vh;
        padding-top: 26vh;
    }

    .fast_taxi {
        font-size: 2.5vw;
    }

    .features {
        height: 95%;
        padding-bottom: 0;
    }

    .features .container {
        width: 82vw;
        margin: 0 auto;
        min-width: 50rem;
        height: 100%;
        position: fixed;
        left: 0;
        right: 0;
    }

    .mouse {
        display: block;
        margin: .188rem auto 0;
        position: absolute;
        bottom: 30px;
        left: 50%;
        margin-left: -11px;
    }

    .arrow {
        position: absolute;
        left: 50%;
        margin-top: .5rem;
        margin-left: -.375rem;
        -webkit-animation: shake .4s linear alternate infinite;
        animation: shake .4s linear alternate infinite;
        bottom: 7px;
    }

    @-webkit-keyframes shake {
        100% {
            -webkit-transform: translateY(-6px);
        }

    }

    @keyframes shake {
        100% {
            transform: translateY(-6px);
        }

    }

    /*******order_now********/
    .order_now {
        padding-bottom: 2.8rem;
        position: relative;
        z-index: 1;
    }

    .order_now h2 {
        font-size: 2.8rem;
        margin-bottom: 2.8rem;
        padding-top: 2.8rem;
    }

    .with_iframe {
        display: inline-block;
        width: 49%;
    }

    .types_cars {
        display: inline-block;
        width: 49%;
        vertical-align: bottom;
        margin-left: 0.688rem;
    }

    /******services*******/
    .services .container {
        width: 95%;
        max-width: 90rem;
    }

    .services {
        padding-bottom: 5.813rem;
         position: relative;
        z-index: 1;
    }

    .service_item {
        display: inline-block;
        width: 20%;
        vertical-align: top;
    }

    .services h2 {
        font-size: 3rem;
        margin-bottom: 5.563rem;
        padding-top: 5.313rem;
    }

    .for_order {
        margin-top: 4.375rem;
        padding: 0 8.438rem;
    }

    .icon {
        height: 6.563rem;
    }

    .service_item i {
        font-size: 7.5rem;
    }

    .service_item:hover i {
        color: #dada00;
        font-size: 6.875rem;
    }

    .service_item:hover p {
        color: #dada00;
    }


    /*****vacancies*****/
    .vacancies {
        padding-bottom: 6rem;
         position: relative;
        z-index: 1;
    }

    .vacancies h2 {
        font-size: 3rem;
        margin-bottom: 2.188rem;
        padding-top: 5.313rem;
    }

    .employees {
        display: inline-block;
        position: relative;
        left: 50%;
        margin-left: -12.5rem;
    }

    .employee p {
        font-size: 1.5rem;
    }

    .need {
        margin-bottom: 5.625rem;
    }

    .employee i {
        font-size: 2.5rem;
        margin-right: 1.125rem;
        color: #fff;
    }

    .question_numb {
        line-height: 2;
        margin: 6rem 0 4.75rem;
        padding: 0 9rem;
    }

    /*****footer*****/
    footer {
        padding: 5.938rem 0;
        position: relative;
        z-index: 1;
    }

    footer .container {
        width: 85%;
        max-width: 90rem;
    }

}